<?xml version="1.0" encoding="UTF-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="TranslationFragment">
      <Property Id="M4InstLoc">Install location:</Property>
      <Property Id="M4ChgLoc">Change Location...</Property>
      <Property Id="M4Install">Install</Property>
      <Property Id="M4Exit">Exit</Property>
      <Property Id="M4WaitInst1">Please wait while</Property>
      <Property Id="M4WaitInst2">is being installed...</Property>
      <Property Id="M4Cancel">Cancel</Property>
      <Property Id="M4Ignore">Ignore</Property>
      <Property Id="M4Abort">Abort</Property>
      <Property Id="M4Retry">Retry</Property>
      <Property Id="M4No">&amp;No</Property>
      <Property Id="M4Yes">&amp;Yes</Property>
      <Property Id="M4CancConf">Are you sure you want to cancel the installation?</Property>
      <Property Id="M4Ok">OK</Property>
      <Property Id="M4FldrName">&amp;Folder Name:</Property>
      <Property Id="M4LookIn">&amp;Look in:</Property>
      <Property Id="M4CrteFldr">Create A New Folder</Property>
      <Property Id="M4UpLevl">Up One Level</Property>
      <Property Id="M4Thanks">has been installed successfully.</Property>
      <Property Id="M4Finish">Finish</Property>
      <Property Id="M4Aborted1">The installation of</Property>
      <Property Id="M4Aborted2">has been aborted.</Property>
      <Property Id="M4DowngradeErr1">A later version of</Property>
      <Property Id="M4DowngradeErr2">is already installed. Backup your data and then uninstall it from Add/Remove Programs in the Control Panel before installing this older version.</Property>
      <Property Id="M4UpgradeErr1">An earlier version of</Property>
      <Property Id="M4UpgradeErr2">is already installed. Backup your data and then uninstall it from Add/Remove Programs in the Control Panel before installing the new version.</Property>
      <Property Id="M4WrongOS1">To install</Property>
      <Property Id="M4WrongOS2">you must run Windows XP Service Pack 2 or later.</Property>
      <Property Id="M4Version">Version</Property>
      <Property Id="M4Upgrading">Proceeding will change the version already installed in this location:</Property>
      <Property Id="M4TooManyInstances">Too many instances have been installed of this product. Use Add/Remove Programs in the Control Panel to uninstall one or more instances and try again.</Property>
      <Property Id="M4CreateNewLabel">Create a new installation</Property>
      <Property Id="M4ChangeLabel">Upgrade/downgrade an existing installation</Property>
      <Property Id="M4SelectInstallationLabel">Select the application you wish to upgrade/downgrade, and click "Install".</Property>
      <Property Id="M4NoProductsFoundLabel">No products eligible for upgrade or downgrade found.</Property>
      <Property Id="M4Setup">Setup</Property>
  </Fragment>
</Wix>
